{
  "env": {
    "browser": true,
    "node": true
  },

  "settings": {
    "react": {
      "version": "detect"
    }
  },

  "globals": {
    "document": false,
    "escape": false,
    "navigator": false,
    "unescape": false,
    "window": false,
    "describe": true,
    "before": true,
    "it": true,
    "expect": true,
    "sinon": true
  },

  "parser": "babel-eslint",

  "parserOptions": {
    "ecmaFeatures": { "jsx": true },
    "ecmaVersion": 2021
  },

  "plugins": ["react-hooks", "react", "jsdoc"],

  "extends": ["eslint:recommended", "plugin:react/recommended"],

  "rules": {
    "semi": ["error", "never"]
  }
}
